/*@import'../../node_modules/vuetify/@/stylus/settings/_colors'*/

/*$theme:= {*/
    /*primary: $red.darken-2*/
    /*secondary: $red.lighten-2*/
    /*accent: $red.accent-2*/
    /*error: '#b71c1c'*/
/*}*/



/*@import'../../node_modules/vuetify/@/stylus/main'*/

